name: "release"
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    tags:
      - 'v*'

jobs:
  generate-changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set node
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org/
          node-version: lts/*
      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  package:
    strategy:
      matrix:
        platform: [windows-latest, macos-latest]
        go-version: [1.25]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Get Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest
      - name: Build Wails app
        run: |
          wails build
      - name: upload artifacts macOS
        if: matrix.platform == 'macos-latest'
        uses: actions/upload-artifact@v4
        with:
          name: VisionFlow-macos
          path: build/bin/*
      - name: archive application
        if: matrix.platform == 'macos-latest'
        run: |
          cd build/bin
          zip -r ../../VisionFlow-macos.zip VisionFlow.app
      - name: upload artifacts windows
        if: matrix.platform == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: VisionFlow-windows
          path: build/bin/*
      - name: Upload release macOS
        if: matrix.platform == 'macos-latest'
        uses: ncipollo/release-action@v1
        with:
          artifacts: VisionFlow-macos.zip
          allowUpdates: true
          omitBody: true
      - name: Upload release Windows
        if: matrix.platform == 'windows-latest'
        uses: ncipollo/release-action@v1
        with:
          artifacts: build/bin/VisionFlow.exe
          allowUpdates: true
          omitBody: true
